.onboarding-result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-bar {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px;
}

.back-button {
  background: none;
  border: none;
}

.back-icon {
  width: 24px;
  height: 24px;
}

/* 성향 텍스트 */
.result-texts {
  margin-top: 75px;
  text-align: left;
  width: 90%;
}

.tendency-title {
  color: #000;
  font-family: 'Apple SD Gothic Neo';
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
  margin-top: -15px;
}

.tendency-summary {
  color: #000;
  font-family: 'Apple SD Gothic Neo';
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  margin-top: 4px;
  margin-left: 20px;
}

/* 중앙 이미지 */
.result-image-wrapper {
  margin: 40px 0;
  align-items: center;
  display: flex;
  justify-content: center;
}

.result-image {
  width: 120px;
  height: auto;
  object-fit: contain;
  align-items: center;
  margin-top: 200px;
  margin-left: 120px;
}

/* 하단 보라 바 */
.bottom-gray-bar {
  position: relative;
  bottom: -210px;
  width: 375px;
  height: 450px;
  background: var(--pri, #8646f2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-radius: 0 0 20px 20px;
}

.percentage-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -47px;
  width: 270px;
  height: 56px;
  padding: 10px 40px;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid var(--b, #3c3e44);
  background: var(--w, #fcfeff);
}

.percentage-text {
  color: #000;
  font-family: 'Apple SD Gothic Neo';
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.tendency-description {
  margin-top: 10px;
  padding: 20px 20px;
  color: var(--w, #fcfeff);

  /* 콩떡/Title/Small */
  font-family: 'Apple SD Gothic Neo';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  margin-left: 10px;
  margin-right: 10px;
}

.complete-button {
  width: 300px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--b, #3c3e44);
  background: var(--w, #fcfeff);
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 30px;
}

.tendency-description-2 {
  margin-top: -20px;
  padding: 20px 20px;
  color: var(--w, #fcfeff);

  /* 콩떡/Caption/Medium */
  font-family: 'Apple SD Gothic Neo';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 10px;
  margin-right: 10px;
}
